.highlight {
  border-radius: 0.4rem;
  color: black;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.bold {
  padding-left: 1rem;
  font-weight: 700;
}
.blue {
  background-color: lightcoral;
}
.red {
  background-color: lightblue;
}
.green{background-color: green;

}

.two {
  border-style: solid;
  border-width: medium;
}

.solid {border-style: solid;}